*
  box-sizing: border-box
h1,h2,h3,h4
  margin: 0
body
  color: #fff
  background-color: #07070a
  font-family: 'Roboto'
img
  max-width: 100%
.container
  max-width: 950px
  margin: auto
button,a
  cursor: pointer
