.hero
  &-wrapper
    padding-top: 100px
    display: flex
    justify-content: space-between
  &-info
    width: 500px
    &__title
      color: #FFBB01
      font-weight: normal
      font-size: 24px
      line-height: 28px
      padding-top: 30px
    &__name
      font-weight: bold
      font-size: 50px
      line-height: 59px
      padding-top: 14px
    &__text
      font-weight: normal
      font-size: 16px
      line-height: 28px
      padding: 30px 0
      margin: 0
  &-avatar
    flex: none
    &__img
      width: 367px
      height: 367px
      object-fit: cover
      border-radius: 50%
      border: 8px solid
      border-color: #fff
